fastapi
uvicorn
pydantic
pydantic-settings
haystack-ai
chroma-haystack
openai
sentence-transformers
chroma-hnswlib
jinja2
python-dotenv
pypdf
beautifulsoup4
requests
python-multipart
asyncpraw
aiohttp
aiofiles
groq
google-genai
langsmith
firecrawl-py