# Core dependencies
fastapi
uvicorn
pydantic
pydantic-settings

# LLM clients
openai
groq
google-genai

# Reddit API
asyncpraw

# Haystack RAG framework
haystack-ai

chroma-haystack
# Web scraping
requests
beautifulsoup4
firecrawl-py

# Utilities
python-dotenv